.weui-cell__bd span {
  padding-left: 10px;
  font-size: 15px;
}

.EmptyWatermarkBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}

.EmptyWatermark {
  width: 200px;
}