// .titleAndBtn {
//   margin-top: -8px;
// }

.teamTitle {
  font-size: 15pt;
}

.btn {
  position: relative;
  float: right;
}

.listContent {
  color: #333;
}

.weui-select {
    height: 30px;
}

.textAreaInput {
    height: 200px;
}