// .titleAndBtn {
//   margin-top: -8px;
// }

.teamTitle {
  font-size: 15pt;
}

.applyBtn {
  position: relative;
  float: right;
  width: 90px;
  height: 40px;
  font-size: 18px;
  color: white;
  background-color: lightblue;
  border-radius: 10%;
}

.listContent {
  color: #666;
}

.textAreaInput {
    height: 200px;
}

.monitorInformation {
  margin-top: 8px;
}

.resultBtn {
    // margin-top: 8px;
    display: flex;
    // height: 100%;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // background-color: white;
    color: white;
}